nav{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 150px;
}

.nav-menu{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0px 50px;
    list-style-type: none;
    .link{
        color: var(--text-main-color);
        font-family: var(--Raleway-sans);
        font-weight: 500;
        font-size: 1rem;
        text-decoration: none;
        
    }
}
.link--active{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

